[Unit]
Requires=gatus-ts.service
After=gatus-ts.service

[Container]
Image=ghcr.io/twin/gatus:stable
AutoUpdate=registry
LogDriver=journald
Network=container:systemd-gatus-ts
Volume=gatus-data.volume:/data
Volume=%h/.config/containers/systemd/gatus-config.yaml:/config/config.yaml:ro
HealthCmd=none

[Service]
Restart=always

[Install]
WantedBy=default.target
