[Container]
Image=ghcr.io/twin/gatus:stable
AutoUpdate=registry
LogDriver=journald
PublishPort=127.0.0.1:8080:8080
Volume=gatus-data.volume:/data
Volume=%h/.config/containers/systemd/gatus-config.yaml:/config/config.yaml:ro
HealthCmd=none

[Service]
Restart=always

[Install]
WantedBy=default.target
