[Unit]
Description=Kopia snapshot backup
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=kopia --config-file=%h/.config/kopia/vault-b2.config snapshot create --all
