{
  "TCP": {
    "443": {
      "HTTPS": true
    },
    "11434": {
      "TCPForward": "127.0.0.1:11434"
    }
  },
  "Web": {
    "ollama.{{ .Env.TS_DOMAIN }}:443": {
      "Handlers": {
        "/": {
          "Proxy": "http://127.0.0.1:8080"
        }
      }
    }
  }
}
